{% extends "admindashboard/default.html" %} {% block content %}

<h3 class="text-primary"><b>Manage Admin Users</b></h3>
<a class="btn btn-outline-primary" href="{% url 'admin_user:admin_register_user' %}">Add New Admin User</a>
<table class="table mt-4">
  <thead>
    <tr class="text-primary"><b>
      <th scope="col">S.No</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th></b>
    </tr>
  </thead>
  <tbody>
    {% for user in admin_users %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
        {% comment %} <a class="text-decoration-none" href="{% url 'admin_user:edit_role_admin_user' pk=user.id %}">Edit</a> {% endcomment %}
        <a class="text-decoration-none" href="{% url 'admin_user:delete_admin_user' pk=user.id %}"><button class="btn btn-outline-danger">Delete</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if is_paginated %}
        <div class="pagination justify-content-end me-4">
            <span class="page-links d-flex float-right">
                {% if page_obj.has_previous %}
                
                    <a class="text-decoration-none me-2" href="/adminuser/adminmanageuser?page={{ page_obj.previous_page_number }}"><span class="h2" aria-hidden="true">&laquo;</span> </a>
                {% endif %}
                <span class="page-current">
                   <p class="small"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
                </span>
                {% if page_obj.has_next %}
                    <a class="ml-2 text-decoration-none" href="/adminuser/adminmanageuser?page={{ page_obj.next_page_number }}"> <span class="h2" aria-hidden="true">&raquo;</span></a>
                 {% endif %}
               
            </span>
        </div>
    {% endif %}
{% endblock %}