{% extends 'admin/adminPanel.html' %} {% block adminContent %}

<h3>Admin Dashboard</h3>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div
        class="card bg-danger text-white"
        style="width: 350px; height: 200px"
      >
        <p>Total Users</p>
        <p>{{count_users}}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-warning" style="width: 350px; height: 200px">
        <p>Last 24 hours Users</p>
        <p>{{last_day_count_users}}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-primary" style="width: 350px; height: 200px">
        <p>Last 30 days Users</p>
        <p>{{last_month_count_users}}</p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <div class="card" style="width: 350px; height: 200px">
        <p>Total Listings</p>
        <p>{{count_property}}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 350px; height: 200px">
        <p>Last 24 hours Listings</p>
        <p>{{last_day_count_property}}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 350px; height: 200px">
        <p>Last 30 days Listings</p>
        <p>{{last_month_count_property}}</p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <div class="card" style="width: 350px; height: 200px">
        <p>Total Reservations</p>
        <p>{{count_booking}}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 350px; height: 200px">
        <p>Last 24 hours Reservations</p>
        <p>{{last_day_count_booking}}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 350px; height: 200px">
        <p>Last 30 days Reservations</p>
        <p>{{last_month_count_booking}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
