{% include 'base.html' %}{% load widget_tweaks %}
{% load static %} {% block content %}
{% comment %} <div class="col-sm-12 bg-image" style="background-image: url('{% static "images/sea.jpg" %}');"> {% endcomment %}

<h1 class="text-center">Booking of Hotel</h1>
<hr/>
<div class="container col-sm-8 mb-4">
<form method="post" class="mb-4">
  {% csrf_token %} 
  <div class="row container">
  
   {% for field in form.visible_fields %}
   {% if forloop <= 7 %}
   <div class="col-sm-6">
  <div class="form-group mt-1">
    {% comment %} <label for="{{ field.id_for_label }}">{{ field.label }}</label> {% endcomment %}
     {% comment %} {{ field|add_class:'form-control' | }} {% endcomment %}
     {% comment %} {{ field|append_attr:"class:form-control"|append_attr:"placeholder:field.label" }} {% endcomment %}
    {% render_field field class="form-control" placeholder=field.label %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  </div>
  {% else %}
  <div class="col-sm-6">
  <div class="form-group mt-1">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label> 
     {% comment %} {{ field|add_class:'form-control' | }} {% endcomment %}
     {% comment %} {{ field|append_attr:"class:form-control"|append_attr:"placeholder:field.label" }} {% endcomment %}
     {% if field.label == 'Notes' %}
      {% render_field field class="form-control" rows="3" placeholder=field.label %}
     {% else %}
       {% render_field field class="form-control" placeholder=field.label %}
     {% endif %}
   
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  </div>
  {% endif %}
{% endfor %}

</div>
 
  <button type="submit" class="btn btn-outline-primary mt-2 mb-2 me-4 float-left">Submit</button>
  <a class="btn btn-outline-danger mt-2 mb-2 float-right" href="/">CANCEL</a>
 <br>
<br>
<hr>
  </form>
</div>

{% include 'home/footer.html' %} 
{% endblock %}
