{% extends 'admin/adminPanel.html' %} {% block adminContent %}

<h1 style="font-family:Sans-serif;">Manage normal Users</h1>
<table class="table" style="color: black;">
  <thead>
    <tr style="background-color:#2fa362;
    color: #fff; ">
      <th scope="col">S.No</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
         <a class="text-decoration-none" href="{% url 'admin_user:convert_admin_from_normal_user' pk=user.id %}"><button style="color:white; background-color: green;" >Add admin</button></a> 
        <a class="text-decoration-none" href="{% url 'admin_user:delete_users_by_admin' pk=user.id %}"><button style="color:white; background-color: red;">Delete</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}