.heading_tag{
	font-family:Sans-serif;
}
.btn{
	background-color:green;
	color:#fff;

}

.th-font{
	font-family:Sans-serif;
	background-color:#198754;

}
	



.del-btn{
	background-color:red;
	font-size: 19px;
    color:#fff;
	
}



.user_form{
	font-family:Sans-serif;

}
