{% extends "admindashboard/default.html" %}  {% load widget_tweaks %} {% block title %} Add Popular Location {% endblock %}{% block content %} 


<div class="container col-sm-6">
<h3 class="text-centre text-primary" ><spam > Add Popular Location</spam></h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="form-group mt-1">
   <p><label>{{field_label}}</label></p>
    {% render_field field class="form-control mb-2" placeholder=field.label %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
{% endfor %}

  <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
  <a class="btn btn-primary mt-2 mb-2 float-right" href="{% url 'admin_user:admin_home' %}"> Cancel </a>
</form>
</div>
{% endblock %}