{% extends "admindashboard/default.html" %} {% block content %}

<h3 class="text-primary">List Draft Properties for Approving</h3>

    {% if not properties %}
        <p> No data found </p>
    {% endif %}
    {% for property in properties %}
    <div class="card me-2 mt-4" style="width: 40rem;">
    <a class="card-text float-right text-decoration-none" style="font-size: 0.9rem" href="{% url 'realestateapp:detail_property' slug=property.slug %}" >
    <img src="{% if property.image %}{{ property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:250px;width:100%;">
      <div class="card-body">
        <p class="card-text text-sucess" style="font-size: 1.6rem">
          {{property.room_type}} - {{property.beds}} {% if property.beds == 1 %}
          Bed {% else %} Beds {% endif %}
        </p>
        <p class="card-title h6"style="font-size: 1.4rem">{{property.property_name}}</p>
        <p class="card-text" style="color: green;font-size: 1.5rem">
          R${{property.cost}} Per Night
        </p>
       
      
      </div>
      </a>
       <a class="btn btn-outline" href="{% url 'admin_user:approved_property' slug=property.slug %}"> <button style="color: white; width: 50%; background-color: blueviolet;">Approving</button></a>
    </div>
   
    {% endfor %}


{% endblock %}