{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>

<link rel="stylesheet" href="{% static 'css/faq.css' %}"\>
</head>

<div class='centerplease mt-4'>
  <h4 class="fw-bold" style="color:maroon;">FAQ</h4>
</div>
<br>

<div class="content">
<div>
  <input type="checkbox" id="question1" name="q"  class="questions">
  <div class="plus">+</div>
  <label for="question1" class="question">
    How do I search for a suitable hotel or apartment for my stay?
  </label>
  <div class="answers">
    It is very easy. At first type (enter) name of your destination/hotel including date of your stay into the blue "Search box". Than just click on red button "Search". Immediately, all the available rooms will show up including prices for whole stay (number of nights you filled previously). You can also use our filters for more specific accommodation request as price per room, star rating, hotel type, facilities etc. On the top of the page you can also sort the accommodation based on popularity, price per room, guest rating and distance from center. You can also select a suitable accommodation on the map located on our home page – all hotels are listed there together with all the main attractions. This is quite helpful if you do not know the destination much but wish to stay close to a certain attraction.
  </div>
</div>

<div>
  <input type="checkbox" id="question2" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question2" class="question">
    Is it possible to order an extra bed/baby cot and how much will it be?
  </label>
  <div class="answers">
    The extra bed/baby cots hotel policy is written in "Payment and cancellation conditions" in section "Children and Extra Bed Policy". Each accommodation has its own extra bed policy, therefore its necessary to always check it in order to find out if the extra bed will be possible or not. Please note that the price for extra beds wil not be included in the total price for accommodation. If you wish to add extra bed or baby cot, please write this request into „Request box“ in the reservation form. Please note that any type of extra bed or baby cot is upon request and has to be confirmed by the accommodation after your reservation.
  </div>
</div>
  
<div>
  <input type="checkbox" id="question3" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question3" class="question">
   How do I get to know which facilities / services each hotel offers?
  </label>
  <div class="answers">
    Please, have a look at the section Hotel basic information. In this section you will also find the check in/out information. Hotel facilities / services are stated in Hotel basic information, just below the the offer of available rooms. In this section you will also find the check in/out information. Please note, that some of the facilities might be off-site and also for extra charge.
  </div>
</div>

<div>
  <input type="checkbox" id="question4" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question4" class="question">
    Do you charge any fees for your services?
  </label>
  <div class="answers">
    No, A-HOTEL.com doesn’t charge any fees for its services. Our service is completely free of charge and we will not add to your accommodation any additional fee for our service.
  </div>
</div>

<div>
  <input type="checkbox" id="question5" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question5" class="question">
    Are the rates on your web site per person or per room?
  </label>
  <div class="answers">
    The price is always per room, the only exception are dorm beds in hostels.
  </div>
</div>

<div>
  <input type="checkbox" id="question6" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question6" class="question">
    Are fees and taxes included in prices?
  </label>
  <div class="answers">
    This is different for each country and also any type of accommodation. For this information, please always check the room conditions by clicking on the name of the room you are interested in.
  </div>
</div>

<div>
  <input type="checkbox" id="question7" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question7" class="question">
    How do I know that my reservation is confirmed?
  </label>
  <div class="answers">
    After completing and sending us your order form, you will get an automatic receipt e-mail containing your order number. Within 30 minutes, you will receive Accommodation confirmation. The Accommodation confirmation serves you as a voucher so please do not forget to print it out and take it with you as it contains all the vital details (address of your hotel, contact phone numbers and other instructions). In case that you requested in your order form any special requests – ie. extra bed, non smoking room, parking etc, please always double check with the hotel directly that they noted your request and are able to arrange it for you.
  </div>
</div>

<div>
  <input type="checkbox" id="question8" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question8" class="question">
    Can I book your services by telephone, e-mail or fax?
  </label>
  <div class="answers">
    Unfortunately not. If you wish to make a booking, please fill in the order form on our website.
  </div>
</div>

<div>
  <input type="checkbox" id="question9" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question9" class="question">
    I made a reservation but did not receive any confirmation. What should I do?
  </label>
  <div class="answers">
    Before finalizing your reservation please double check your e-mail address because a mistake in the e-mail address is the most common reason why our clients do not receive their confirmations. In some cases, our e-mails can also end up in the “spam folder” so please check it as well. In any case, please try to contact us by e-mail as we will be very happy to assist you and solve the problem as soon as possible.
  </div>
</div>

<div>
  <input type="checkbox" id="question10" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question10" class="question">
    How many rooms can I book at once?
  </label>
  <div class="answers">
   You can book as many rooms as are available for selected period.
  </div>
</div>


</div>
<hr>
{% include 'home/footer.html' %} 
{% endblock %}