{% include 'base.html' %}{% load widget_tweaks %} {% block content %}
<h1 class="text-center">{{userprofile.user.username}}</h1>
<hr/>
<div class="container">
<div class="row">
<div class="col-sm-4">
   <img src="{% if userprofile.image %}{{userprofile.image.url}}{% endif %}" style="height:100%;width:100%;">
</div>
<div class="col-sm-8">
<nav class="navbar navbar-light bg-light">

  <form class="container-fluid justify-content-start">
   <a href="{% url 'account:update_user_profile' slug=userprofile.slug %}"> <button class="btn btn-outline-success me-2" type="button">Edit Profile</button></a>
   <a href="{% url 'account:delete_user' slug=userprofile.slug %}"> <button class="btn btn-outline-success  me-2" type="button">Delete Profile</button></a>
   <a href="{% url 'realestateapp:create_property' %}"> <button class="btn btn-outline-success  me-2" type="button">Add Hotels</button></a>
   <a href="{% url 'realestateapp:list_property_user' %}"> <button class="btn btn-outline-success  me-2" type="button">Hotels List</button></a>
  </form>
</nav>
<hr>
 {% if userprofile.user.first_name %}
 <lable class="fw-bold"> First name : </lable>
     {{userprofile.user.first_name}}<br>
 {% endif %}
 {% if userprofile.user.last_name %}
 <lable class="fw-bold"> Last name : </lable>
 {{userprofile.user.last_name}}<br>
 {% endif %}
 {% if userprofile.user.email %}
 <lable class="fw-bold"> Email : </lable>
 {{userprofile.user.email}}<br>
 {% endif %}
 {% if userprofile.contact_number %}
 <lable class="fw-bold"> Contact Number : </lable>
     {{userprofile.contact_number}}<br>
 {% endif %}
 {% if userprofile.address %}
 <lable class="fw-bold"> Address : </lable>
     {{userprofile.address.street}} {{userprofile.address.city}} {{userprofile.address.state}} {{userprofile.address.zip_code}} {{userprofile.address.country}}
 {% endif %}

</div>
</div>
</div>
<hr>
{% include 'home/footer.html' %} 
{% endblock %}
