{% extends 'home/basehome.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/newHome/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/newHome/footer.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .navbar{
    border:1px solid;
  }
 
 .userprofile{
   margin-left:10%;
   width: 80vw;
 }

 .btn-outline-primary:hover{
    background-color:#7166f0!important;
    border-color: #7166f0;
}
 .btn-outline-primary{
  border-color: #7166f0;
  color:#7166f0;
 }
</style>
{% endblock %}
{% block homecontent %}
   {% include 'home/navbar.html' %}
   <br>
   <br>
   <br>
  <div class="row mt-5 userprofile">
  <div class="col-sm-8 mb-3">
  <div class="row">
      <div class="col-sm-3">
  {% if userprofile.image %}
  <img class="img-thumbnail rounded-circle" height="100%" width="100%"  src={% if userprofile.image %}{{userprofile.image.url}}{% endif %}/>
  {% endif %}
  </div>
  <div class="col-sm-8 mt-4">
   {% if userprofile.user.first_name %}
     <span class="h2 username"> {{userprofile.user.first_name}} </span>
     <br>
     <p>User ID - {{userprofile.user.id}}</p>
     
 {% endif %}
  </div>
  
  </div>
  
  </div>

 <hr size="2">


   <div class="col-sm-12 mt-1">
     <h2 class="ms-2">Profile  <span class="float-end me-4"><a class="btn btn-outline-primary" href="{% url 'account:update_user_profile' slug=userprofile.slug %}">Edit</a></span></h2>
     <span class="ms-2">Basic info, for a faster booking experience.</span>
   </div>
  <div class="row ms-4 mt-5 mb-2">
      <table style="width:40%;">
       <tr style="height:50px"><td>
        <h5>Name:    </h5>
            </td><td><span>{{userprofile.user.first_name}} {{userprofile.user.last_name}}</span></td>
        
        </tr>
        <tr style="height:50px" >
        <td>
        <h5>Birth Date:  </h5></td>
        <td><span >20/2/1998</span></td>
        </tr>
        <tr style="height:50px" >
        <td>
        <h5 >Gender:    </h5> </td>
        <td><span >Male</span></td>
        </tr>
        <tr style="height:50px">
        <td>
        <h5 >Maritial status:    </h5> </td>
        <td><span >Unmarried</span></td>
        </tr>
        </table>
  </div>
  <div class="col-sm-12 mt-5">
     <h2 class="ms-2">Login Details  </h2>
     <span class="ms-2">Manage your email address, mobile number and password.</span>
   </div>
   <div class="row ms-4 mt-5">
    <table style="width:50%;">
       <tr style="height:50px"><td>
        <h5>Contact Number:   </h5></td>
        <td> <span>{{userprofile.contact_number}}</span>
        </td>
        </tr>
        <tr style="height:50px"><td>
        <h5 >Email:  </h5></td>
        <td><span>{{userprofile.user.email}}</span></td>
        </tr>
        <tr style="height:50px"><td>
        <h5 >Password:     </td>
        <td><span>**************</span></td>
        </tr>
        </table>
  </div>
  <div class="col-sm-12 mt-5">
     <h2 class="ms-2">Address  </h2>
     <span class="ms-2">{{userprofile.address.street}} {{userprofile.address.city}} {{userprofile.address.state}} {{userprofile.address.country}} {{userprofile.address.zip_code}}</span>
   </div>
  </div>
  
{% endblock %}

