#id{
    text-align: center;
    font-size: 36px;
    line-height: 87px;
    font-weight: 500;
    letter-spacing: 1.44px;
    color: #060c3a;
    opacity: 1;font-family: Poppins,sans-serif;
}
.reachGridSction {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    padding: 0;
}
.contactDetailsOne{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .72px;
    color: #000a8a;
    margin-bottom: 0;    
    font-family: Poppins,sans-serif;
}
.contactReactDescText{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .56px;
    color: #444;
    opacity: 1;
    margin-top: 6px;
}
.contactDetailsOne{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .72px;
    color: #000a8a;
    margin-bottom: 0;    
    font-family: Poppins,sans-serif;
}
.contactVisitBg mt-4{
    background: #e6fff3 0 0 no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.container{
    padding-bottom: 56px;
    margin-top: 60px; width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 80px 30px 0;
}
.row{
    align-items: center;display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
}
.col-lg-6.col-md-12.col-sm-12.col-xs-12.space4{
    margin-bottom: 24px;
}

.contact_1{
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 20px 60px rgb(52 164 113 / 22%);
    border-radius: 14px;
    opacity: 1;
    text-align: center;
    padding: 40px 20px;
}

.visitTemleImg{
    text-align: right; 
    border-radius: 14px;
}



