/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color:green;
    color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 20px;
 border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .7rem #fff,
              0 0 .7rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 6.3rem #bc13fe;
  
  
  
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 3em;
 font-size: 25px;
 text-tranceform: uppercase;
}
.menu li:hover {
 background-color: #FFFF00;
 border-radius: 20px;
 transition: 0.2s ease;
}
.menu li {
 padding: 5px 30px;
 }
}

