

p {
  margin-block: 1.5rem;
}

.text--center {
  text-align: center;
}
.fa {
        padding: 20px;
        font-size: 30px;
        width: 60px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        }

.fa:hover {
            opacity: 0.7;
            color:white;
        }