{% extends "admindashboard/default.html" %} {% block content %}

<h3 class="text-primary"><b>Manage Admin Users Roles</b></h3>
<table class="table">
  <thead>
    <tr class="text-primary">
      <th scope="col">S.No</th>
      <th scope="col">Username</th>
      <th scope="col">Roles</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in adminuserroles %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{user.user.username}}</td>
      <td>{{user.roles}}</td>
      <td>
         <a class="text-decoration-none" href="{% url 'admin_user:edit_role_admin_user' slug=user.slug %}"><button class="btn btn-outline-primary">Edit</button></a> 
        <a class="text-decoration-none" href="{% url 'admin_user:delete_role_admin_user' slug=user.slug %}"><button class="btn btn-outline-danger">Delete Roles</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if is_paginated %}
        <div class="pagination justify-content-end me-4">
            <span class="page-links d-flex float-right">
                {% if page_obj.has_previous %}
                
                    <a class="text-decoration-none me-2" href="/adminuser/manageuserrole?page={{ page_obj.previous_page_number }}"><span class="h2" aria-hidden="true">&laquo;</span> </a>
                {% endif %}
                <span class="page-current">
                   <p class="small"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
                </span>
                {% if page_obj.has_next %}
                    <a class="ml-2 text-decoration-none" href="/adminuser/manageuserrole?page={{ page_obj.next_page_number }}"> <span class="h2" aria-hidden="true">&raquo;</span></a>
                 {% endif %}
               
            </span>
        </div>
    {% endif %}
{% endblock %}