{% extends 'admin/adminPanel.html' %} {% block adminContent %}

<h3 style="color: #a249d6;">Manage Admin Users Roles</h3>
<table class="table" style=" color: black;">
  <thead>
    <tr style="color: #bf0d28;">
      <th scope="col">S.No</th>
      <th scope="col">Username</th>
      <th scope="col">Roles</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in adminuserroles %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{user.user.username}}</td>
      <td>{{user.roles}}</td>
      <td>
         <a class="text-decoration-none" href="{% url 'admin_user:edit_role_admin_user' slug=user.slug %}"><button style="color: #fff; background-color: green; width:130px;">Edit</button></a> 
        <a class="text-decoration-none" href="{% url 'admin_user:delete_role_admin_user' slug=user.slug %}"><button style="color:white; background-color:red;">Delete Roles</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
