{% extends "base.html" %} {% block content %} {% if request.user.is_staff %}
<a
  class="btn btn-outline-primary ml-4 mt-4"
  type="submit"
  href="{% url 'admin_user:admin_home' %}"
  >Go to DashBoard Of Admin</a
>
{% else %} {{request.user.username}}
<h2>User</h2>
<a class="btn btn-outline-primary ml-4 mt-4" type="submit" href="/"
  >Go to DashBoard Of User</a
>
{% endif %}
<h2>This is home page...</h2>
<form class="d-flex" action="/searchproperty/">
  <input
    name="city"
    class="form-control"
    type="text"
    placeholder="City"
    style="width: 120%"
  />
  <input
    name="street"
    class="form-control"
    type="text"
    placeholder="Street"
    style="width: 120%"
  />

  {% comment %}
  <input
    name="country"
    class="form-control"
    type="text"
    placeholder="Country"
    style="width: 120%"
  />
  {% endcomment %}

  <input
    name="checkintime"
    class="form-control"
    type="date"
    placeholder="Check-In Time"
    style="width: 120%"
  />
  <input
    name="checkouttime"
    class="form-control"
    type="date"
    placeholder="Check-out-time"
    style="width: 120%"
  />
  <button
    class="btn btn-lg"
    type="submit"
    value="search"
    style="width: 200px; height: 30px"
  >
    Search
  </button>
</form>
{% endblock %}
