{% extends "base.html" %} {% block content %} 
 {% include 'home/img_slider.html' %}
 
 {% include 'booking/booking_table.html' %}
 <div class="text-right" style="margin: 60px; width: 80%; " > <a href="{% url 'realestateapp:create_property' %}"><button class="btn btn-success">Add Hotels</button></a></div>
 
  <section class="bg-light py-3 my-5">
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-2">
        </div>
            <div class="col-8">
                <h3 class="mb-3" style="font-family:Sans-serif;"><b>Most Viewed </b> <spam class="h6 float-right me-5"><a class="text-decoration-none link-secondary" href="/mostviewedproperties/" >See All> </a></spam></h3>
                
                 {% include 'property/most_viewed_property.html' %}
            </div>
            <div class="col-sm-1">
        </div>
          </div>
        </div>
</section>
 <section class="bg-light py-3 my-5">
    <div class="container-fluid">
        <div class="row">
         <div class="col-sm-2">
        </div>
            <div class="col-8">
                <h3 class="mb-3" style="font-family:Sans-serif;"><b>Ranking Wise Hotels</b></h3>
                 {% include 'property/list_property_ranking_wise.html' %}
            </div>
             <div class="col-sm-1">
        </div>
          </div>
        </div>
</section>
 <section class="bg-light py-3 my-5">
    <div class="container-fluid">
        <div class="row">
         <div class="col-sm-2">
        </div>
            <div class="col-8">
                <h3 class="mb-3" style="font-family:Sans-serif;"><b>Popular Location Wise Hotels</b></h3>
                 {% include 'property/popular_location_wise_property.html' %}
            </div>
             <div class="col-sm-1">
            </div>
          </div>
        </div>
</section>
   {% include 'home/footer.html' %} 
{% endblock %}



