{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/home1.css' %}">
    <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>
  
  <nav class="navbar ">
    <div class="logo_header">
      <a href="#" class="logo">Book</a>
      <button class="navbar_toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    
    <ul class="main_nav ">
      <li>
        <a href="#" class="nav_links">Home</a>
      </li>
      <li>
        <a href="#" class="nav_links">Hotel Booking</a>
      </li>
      <li>
        <a href="#" class="nav_links">About</a>
      </li>
      <li>
        <a href="#" class="nav_links">Contact</a>
      </li>
      <li>
        <a href="#" class="nav_links">Sign Up</a>
      </li>
    </ul>
      
  </nav>
    <script type="js/home1.js"></script>
</body>
</html>