{% load static %}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="https://appseed.us/admin-dashboards/django-dashboard-adminator">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="/static/assets/static/images/logo.png" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">Welcome Admin</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="{% url 'admin_user:admin_home' %}">
                <span class="icon-holder">
                  <i class="fa fa-home" style="color:blue"></i>
                </span>
                <span class="title">Dashboard</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'admin_user:approving_property_list' %}">
                <span class="icon-holder">
                  <i class='fas fa-hotel' style="color:blue"></i>
                </span>
                <span class="title">Approved Property</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'admin_user:admin_manage_users' %}">
                <span class="icon-holder">
                  <i class='far fa-user-circle' style="color:blue"></i>
                </span>
                <span class="title">Manage Admin Users</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'admin_user:manage_admin_role' %}">
                <span class="icon-holder">
                  <i class='fab fa-critical-role' style="color:blue"></i>
                </span>
                <span class="title">Manage Admin Roles</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'admin_user:normal_users' %}">
                <span class="icon-holder">
                 <i class='fas fa-user-alt' style="color:blue"></i>
                </span>
                <span class="title">Noraml Users</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="sidebar-link" href="{% url 'admin_user:add_popular_location' %}">
                <span class="icon-holder">
                    <i class="fa fa-location-arrow" style="color:blue"></i>
                  </span>
                <span class="title">Add Popular Location</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/">
                <span class="icon-holder">
                  <!-- <i class="c-deep-orange-500 ti-calendar"></i> -->
                  <i class="far fa-calendar" style="color:blue"></i>
                </span>
                <span class="title">Calendar</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="far fa-map" style="color:blue"></i>
                  </span>
                <span class="title">Maps</span>
                <span class="arrow">
                    
                  </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="">Google Map</a>
                </li>
                <li>
                  <a href="">Vector Map</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="fab fa-pagelines" style="color:blue"></i>
                  </span>
                <span class="title">Pages</span>
                <span class="arrow">
                    
                  </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="sidebar-link" href="">Blank</a>
                </li>                 
                <li>
                  <a class="sidebar-link" href="">404</a>
                </li>
                <li>
                  <a class="sidebar-link" href="">500</a>
                </li>
               
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                  <i class='fas fa-level-down-alt' style="color:blue"></i>
                </span>
                <span class="title">Multiple Levels</span>
                <span class="arrow">
                 
                </span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item dropdown">
                  <a href="javascript:void(0);">
                    <span>Menu Item</span>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a href="javascript:void(0);">
                    <span>Menu Item</span>
                    <span class="arrow">
                      <i class="ti-angle-right"></i>
                    </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="javascript:void(0);">Menu Item</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">Menu Item</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
                      
          </ul>
        </div>
      </div>