<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h4>Create Property</h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                {{ form.as_p }} 
                <h5 class="text-info">Add Product Metas</h5>
                {{ property_meta_formset.non_form_errors }}
                {{ property_meta_formset.management_form }}
                {% for form in property_meta_formset %}
                <div class="d-flex py-1 inline {{ property_meta_formset.prefix }}">
                    <div>{{form.name.label}}: {{ form.label }}</div>
                    <div class="ml-4">{{form.value.label}}: {{ form.value }}</div>
                    {% if property_meta_formset.can_delete %}
                        <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-info">Submit</button>
        </div>
    </form>
</div>
