{% include 'base.html' %} {% block content %}
<h1 class="text-center">Most Viewd The Property</h1>
<hr />
<div class="container justify-content-center mt-4">
  <div class="row">
    {% for property in properties %}
    <div class="card me-2 mt-4" style="width: 12rem">
    <img src="{% if property.property.image %}{{ property.property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
      <div class="card-body">
        <p class="card-text text-danger" style="font-size: 0.6rem">
          {{property.property.room_type}} - {{property.property.beds}} {% if property.property.beds == 1 %}
          Bed {% else %} Beds {% endif %}
        </p>
        <p class="card-title h6">{{property.property.property_name}}</p>
        <p class="card-text" style="font-size: 0.6rem">
          R${{property.property.cost}} Per Night
        </p>
      </div>
    </div>
    {% if forloop.counter == 4 %}
       <a href="/mostviewedproperties/" >Read More...</a>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}