

<div class="container-fluid justify-content-center mt-1">
  <div class="row">
    {% for property in properties %}
   
    <div class="card me-1 " style="width:14rem">
    <a class="card-text float-right text-decoration-none" style="font-size: 0.9rem" href="{% url 'realestateapp:detail_property' slug=property.property.slug %}" >
    <img src="{% if property.property.image %}{{ property.property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
      <div class="card-body">
        <p class="card-text text-danger" style="font-size: 0.9rem">
          {{property.property.room_type}} - {{property.property.beds}} {% if property.property.beds == 1 %}
          Bed {% else %} Beds {% endif %}
        </p>
        <p class="card-title h6 text-truncate text-secondary"><b>{{property.property.property_name}}</b></p>
        <p class="card-text" style="font-size: 0.9rem">
          R${{property.property.cost}} Per Night
        </p>
   
      </div>
       </a>
        <a class="card-text float-right text-decoration-none" style="font-size: 0.9rem" href="{% url 'booking:create_booking' slug=property.property.slug %}" >
        Book
        </a>
    </div>
   
    {% endfor %}
  </div>
</div>

