
<div class="container card mb-2">

 {% for property in famoupropertylist %}
 {% if forloop.counter == 1  %}
<div class="row">
<div class="col-sm-6">
 <a href="{% url 'realestateapp:city_search_property' city=property.Address_city %}">
  <img src="{% if property.property.image %}{{ property.property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
     <div class="top-left text-white ml-2" style="position: absolute; bottom: 8px;left: 16px;">{{property.Address_city}}<br>{{property.count}} properties</div>
  </a>
 </div>

 {% endif %}
 {% if forloop.counter == 2 %}
 <div class="col-sm-6">
 <a href="{% url 'realestateapp:city_search_property' city=property.Address_city %}">
 <img src="{% if property.property.image %}{{ property.property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
  <div class="top-left text-white ml-2" style="position: absolute; bottom: 8px;left: 16px;">{{property.Address_city}}<br>{{property.count}} properties</div> 
 </a>
 </div>
 </div>
 {% endif %}
 {% if forloop.counter == 3 %}
 <div class="row">
 <div class="col-sm-4">
 <a href="{% url 'realestateapp:city_search_property' city=property.Address_city %}">
  <img src="{% if property.property.image %}{{ property.property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
  <div class="top-left text-white ml-2" style="position: absolute; bottom: 8px;left: 16px;"> {{property.Address_city}}<br>{{property.count}} properties</div>
 </a>
 </div>
{% endif %}
{% if forloop.counter == 4 %}
 <div class="col-sm-4">
 <a href="{% url 'realestateapp:city_search_property' city=property.Address_city %}">
 <img src="{% if property.property.image %}{{ property.property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
     <div class="top-left text-white ml-2" style="position: absolute; bottom: 8px;left: 16px;">{{property.Address_city}}<br>{{property.count}} properties</div>
 </a>
 </div>
{% endif %}
{% if forloop.counter == 5 %}
  <div class="col-sm-4">
  <a href="{% url 'realestateapp:city_search_property' city=property.Address_city %}">
 <img src="{% if property.property.image %}{{ property.property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
  <div class="top-left text-white ml-2" style="position: absolute; bottom: 8px;left: 16px;">{{property.Address_city}}<br>{{property.count}} properties</div>   
 </a>
 </div>
</div>
{% endif %}
  {% endfor %}
   
</div>
<hr>
<h3 class="mb-3 mt-2" style="font-family:Sans-serif;"><b>Popular Location Ranking Wise Hotels</b> </h3>
<div class="container justify-content-center mb-4">
  <div class="row">
    {% for property in popular_location_property %}
    <div class="card me-1" style="width: 13rem">
    <a class="card-text float-right text-decoration-none" style="font-size: 0.9rem" href="{% url 'realestateapp:detail_property' slug=property.slug %}" >
    <img src="{% if property.image %}{{ property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
      <div class="card-body">
        <p class="card-text text-danger" style="font-size: 0.9rem">
          {{property.room_type}} - {{property.beds}} {% if property.beds == 1 %}
          Bed {% else %} Beds {% endif %}
        </p>
        <p class="card-title h6 text-truncate text-secondary"><b>{{property.property_name}}</b></p>
        <p class="card-text" style="font-size: 0.9rem">
          R${{property.cost}} Per Night
        </p>
       
      
      </div>
      </a>
      <a class="card-text float-right text-decoration-none" style="font-size: 0.9rem" href="{% url 'booking:create_booking' slug=property.slug %}" >
        Book
        </a>
    </div>
    {% endfor %}
  </div>
</div>

