{% extends 'base.html' %}
{% block content %}

    <img class="mt-4" style="height:450px;width:100%;" src="{% if property.image %}{{ property.image.url }}{% endif %}">
   
    <div class="container mt-4 ">
        <h3>{{property.property_name}}</h3>  
        <br/>
        <div class ="container">
           <p> Room Type : {{property.room_type}}</p>
            <p>Bedroom : {{property.bed_room}}</p>
            <p> Guest : {{property.guest}}</p>
            <p>Bed : {{property.beds}}</p>
        </div>
        <div class="col-12">
            <h5>Abbout this Listing</h5>
            <p>{{property.Description}}</p>
        </div>
        <br/>
      </div>
     
      <p><h5>  Cost : {{property.cost}} </h5></p>
    
   
 
      


    

{% endblock %}