{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/property_details.css' %}"/>
<link rel="stylesheet" href="{% static 'css/star_ranking.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/starrating/star_ranting.css' %}"/>
{% endblock %}
{% block content %}
<div class="container-fluid">
 <div class="row">
 <div class="col-sm-7">
   
    <img style="height:550px;width:103%;" src="{% if property.image %}{{ property.image.url }}{% endif %}"/>
  
   <div class="bottom-left" style="position: absolute; bottom: 8px;left: 16px;"><a class="btn btn-warning ml-2" id="btnShowPopup">More Photos</a></div>

   </div>
   <div class="col-sm-5">
   {% for image in images %}
   {% if forloop.counter == 1 %}
    <div class="row">
    <img class="" style="height:276px;width:100%;" src="{% if image.image %}{{ image.image.url }}{% endif %}">
   
    </div>
    
    {% elif forloop.counter == 2 %}
   <div class="row">
   <div class="col-sm-6">
   <img class="" style="height:272px;width:108%;" src="{% if image.image %}{{ image.image.url }}{% endif %}">
  
   </div>
   {% elif forloop.counter == 3 %}
    <div class="col-sm-6">
   <img class="" style="height:272px;width:100%;" src="{% if image.image %}{{ image.image.url }}{% endif %}">
  
   </div>
   </div>
   {% else %}
    {% endif %}
{% endfor %}
</div>
  </div>
  <div class="container mt-4">
  <p id="property">{{property.property_name}}</p>  
  <hr style="width: 15%;"> 
  
  <div class="row align-items-start mb-4" style="height:50%;">
    <div class="col-md-7">
    <div class="row">
    <div class="col">
      <p> Room Type : {{property.room_type}}</p>
            <p>Bedroom : {{property.bed_room}}</p>
            <p> Guest : {{property.guest}}</p>
            <p>Bed : {{property.beds}}</p>
      </div>
      <div class="col">
      {% if ranking.rank__avg %}
      Ranking : 
      
      <input class="d-none" type="text" value='{{ranking.rank__avg}}' id="star_ranking">
      <span class="fa fa-star" id="star1"></span>
      <span class="fa fa-star" id="star2"></span>
      <span class="fa fa-star" id="star3"></span>
      <span class="fa fa-star" id="star4"></span>
      <span class="fa fa-star" id="star5"></span>
      {% endif %}
      </div>
    </div>
            <h5>Abbout this Listing</h5>
            <p>{{property.Description}}</p>
    </div>

    <div class="col-5 ">
     {% if property.author == user %}
       <a class="btn btn-outline-primary float-left me-4" href="{% url 'realestateapp:create_property_images' slug=property.slug %}">Add Images</a>
       
       <a class="btn btn-outline-primary float-center" href="{% url 'realestateapp:Update_property' slug=property.slug %}">Update</a>
       <a class="btn btn-outline-danger float-right" href="{% url 'realestateapp:delete_property' slug=property.slug %}">Delete</a>
       
       <br>
       <br>
            

       
       {% endif %}
       <hr>


        <p>  Cost : {{property.cost}} </p>
        <label>Check-In</label>
        <label class="float-right">Check-Out</label>
  <form class="mb-4">
        <div class="input-group">
        
    <input type="date" id="check_in" class="form-control" >
    <div class="input-group-prepend">
        <span class="input-group-text">-</span>
    </div>
    <input type="date" id="check_out" class="form-control">
</div>
<div class="col-auto">
    <input type="button" class="btn btn-primary mt-2 mb-4 float-right" onclick="showDiv()" value="Availability">
  </div>
</form>
 <input class="d-none" type="text" value='{{property.cost}}' id="price">
 <input class="d-none" type="text" value='{{booking}}' id="booked">
    <div class="mt-8" style="display:none;" id="welcomeDiv">
    <div class="card">
    Booking Details-</br>
    <p>cost :<span id="cost"> </span></p>
    <p>Availability : <span id="booking"> </span></p>
    <a id="book_property" class="card-text float-right text-decoration-none" style="font-size: 0.9rem;display:none;" href="{% url 'booking:create_booking' slug=property.slug %}" >
        Buy Now
        </a>
    </div>
    </div>
    </div>
     <div class="card">
    {% if request.user.username %}
      {% if property.author.username == request.user.username %}
      {% else %}
      <a class="card-text float-right text-decoration-none" style="font-size: 0.9rem" href="{% url 'realestateapp:create_ranking_property' slug=property.slug %}" >
        Add ranks
        </a>
        {% endif %}
     {% endif %}
    </div>
    <div class="card mt-2">
    {% if request.user.username %}
    <form action="{% url 'realestateapp:create_feedback_property' slug=property.slug %}" method="post">
    {% csrf_token %}
    {% for field in feedbackform.visible_fields %}
  <div class="form-group mt-2">
    {% render_field field class="form-control" rows="3" placeholder=field.label %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
{% endfor %}
  <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
  </form>
     {% endif %}
    </div>
    <div class="card mt-4">
    {% if feedback %}
    <h4>Feedback of {{property.property_name}} </h4>
    <hr>
     {% for feedback_item in feedback %}
        <div class="card-body row">
           <div class="col-sm-2">
             {% for userprofile in userprofiles %}
                {% if feedback_item.user.username == userprofile.user.username %}
                   <img class="img-thumbnail rounded-circle" height="80%" width="80%"  src={% if userprofile.image %}{{userprofile.image.url}}{% endif %}/>
                {% endif %}
             {% endfor %}
           </div>
           <div class="col-sm-10">
             <label > {{feedback_item.user.username}} </label>
             <p>{{ feedback_item.feedback }}</p>
            </div>
        </div>

     {% endfor %}
     {% endif %}
    </div>
    
  </div>

</div>

  <!-- Modal Popup -->
    <div id="MyPopup" class="modal fade">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content" >
                <div class="modal-header">
                    
                    <h4 class="modal-title"> Images of {{property.property_name}}
                    </h4>
                </div>
               
                {% if images %}
                {% for image in images %}
                <div class="col-md-12 mt-2">
                  <div class="thumbnail">
                      <img src="{% if image.image %}{{image.image.url}}{% endif %}" alt="Lights" style="width:100%;height:400px;">
                  
                  </div>
                </div>     
                
                {% endfor %}
            
                {% endif %}
               
            </div>
        </div>
    </div>

<hr>
{% include 'home/footer.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script >
var rank = "{{ranking.rank__avg}}";
if(rank != 'None'){
  var star = document.getElementById('star_ranking').value;
  var star = parseInt(star);
  console.log(star);
  for(i=1;i<=star;i++){
    var star1 = "star"+ i;
    document.getElementById(star1).style.color = 'yellow';
  }

}

function showDiv() {
  var checkin = document.getElementById('check_in').value;
  var checkout = document.getElementById('check_out').value;
  console.log(checkin)
  date1 = new Date(checkin);
  date2 = new Date(checkout);
  date1time = date1.getTime();
  date2time = date2.getTime();
  day = date2time-date1time;
  day = day/(1000 * 60 * 60 * 24) + 1;
   price = document.getElementById('price').value;
   cost = day*price;
   document.getElementById('cost').innerHTML = cost;
   book = document.getElementById('booked').value;
   var booked = "{{booking}}";
   mydata = {
     'checkin':checkin,
      'checkout':checkout,
      'property_slug':'{{property.slug}}',
   }
   console.log(mydata);
   $.ajax({
     url : "{% url 'booking:booking_search' %}",
     method:"GET",
     data :mydata,
      success:function(data){
       console.log("success")
       if(data.status == 1){
         document.getElementById('booking').innerHTML = "Available Property, Now Book it...";
         document.getElementById('book_property').style.display = "block";
       }
       else{
         document.getElementById('booking').innerHTML = "Already Booked Hotel,Please try another date...";
       }
       
      },
     
     
   })
   
   document.getElementById('welcomeDiv').style.display = "block";
}
$(function () {
        $("#btnShowPopup").click(function () {    
          console.log("0000000000000000000000000");       
            $("#MyPopup").modal("show");
        });
    }); 

</script>
{% endblock %}