{% include 'base.html' %}  {% block content %}
<hr />
<h1 class="text-center">List Of Properties</h1>
<hr />
<div class="container justify-content-center mt-4">
  <div class="row">
    {% if not properties %} {% if not propertiess %}
    <h4 class="text-center">No Property found</h4>
    {% endif %} {% endif %} {% for property in properties %}
    <div class="card mt-4" style="width: 12rem">
    <img src="{% if property.image %}{{ property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
      <div class="card-body">
        <p class="card-text text-danger" style="font-size: 0.6rem">
          &nbsp;&nbsp;{{property.property.room_type}} -
          {{property.property.beds}} {% if property.beds == 1 %} Bed {% else %}
          Beds {% endif %}
        </p>
        <p class="card-title h6">{{property.property.property_name}}</p>
        <p class="card-text" style="font-size: 0.7rem">
          {{property.property.cost}}
        </p>
      </div>
    </div>
    {% endfor %} {% for property in propertiess %}
    <div class="card me-2 mt-4" style="width: 12rem">
    <img src="{% if property.image %}{{ property.image.url }}{% endif %}" class="card-img-top mt-2" style="height:200px;width:100%;">
    
      <div class="card-body">
        <p class="card-text text-danger" style="font-size: 0.6rem">
          {{property.room_type}} - {{property.beds}} {% if property.beds == 1 %}
          Bed {% else %} Beds {% endif %}
        </p>
        <p class="card-title h6">{{property.property_name}}</p>
        <p class="card-text" style="font-size: 0.6rem">
          R${{property.cost}} Per Night
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include 'home/footer.html' %} 
{% endblock %}
