{% extends 'bookingpage/base.html' %}
{% load static %}
 
  {% block content %}
<form method="post" class="post-form">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Enter Details</h3>
    </div>  
  </div>
  <!-- {{form.as_p}}
  hello................... -->
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">gender:</label>  
    <div class="col-sm-4">  
      {{ form.gender }}
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">firstname:</label>  
    <div class="col-sm-4">  
      {{ form.firstname }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">lastname:</label>  
    <div class="col-sm-4">  
      {{ form.lastname }}  
    </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">nationality:</label>  
    <div class="col-sm-4">  
      {{ form.nationality }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">address:</label>  
    <div class="col-sm-4">
      {{ form.address }}  
    </div>   
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">email:</label>  
    <div class="col-sm-4">  
      {{ form.email }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">mobile_number:</label>  
    <div class="col-sm-4">  
      {{ form.mobile_Number }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">date_from:</label>  
    <div class="col-sm-4">  
      {{ form.date_from }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">date_until:</label>  
    <div class="col-sm-4">  
      {{ form.date_until }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">creation_date:</label>  
    <div class="col-sm-4">  
      {{ form.creation_date }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">booking_status:</label>  
    <div class="col-sm-4">  
      {{ form.booking_status }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">cost:</label>  
    <div class="col-sm-4">  
      {{ form.cost }}  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">notes:</label>  
    <div class="col-sm-4">  
      {{ form.notes }}  
    </div>  

    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  
    </div>  
</form> 
{% endblock %} 
  
