{% extends 'bookingpage/base.html' %}
{% load static %}
<div class="main">
    
     <!-- Specify fields to be displayed -->
    {{ data.gender }}<br/>
    {{ data.firstname }}<br/>
    {{  data.lastname }}<br>
    {{  data.nationality }}<br>
    {{  data.address }}<br>
    {{  data.email }}<br>
    {{  data.mobile_Number }}<br>
    {{  data.property }}<br>
    {{  data.date_from }}<br>
    {{  data.date_until }}<br>
    {{  data.creation_date }}<br>
    {{  data.booking_status }}<br>
    {{  data.cost }}<br>
    {{  data.notes }}<br>

</div>



 <!-- <table class="table">
  <thead>
    {% for data in dataset %}
    <tr>
      <th scope="col">gender</th>
      <th scope="col">firstname</th>
      <th scope="col">lastname</th>
      <th scope="col">nationality</th>
      <th scope="col">address</th>
      <th scope="col">email</th>
      <th scope="col">mobile_Number</th>
      <th scope="col">property</th>
      <th scope="col">date_from</th>
      <th scope="col">date_until</th>
      <th scope="col">creation_date</th>
      <th scope="col">booking_status</th>
      <th scope="col">booking_status</th>
      <th scope="col">cost</th>
      <th scope="col">notes</th>
    </tr>
    {% endfor %}
  </thead>
  <tbody>
    <tr>
    <td>{{ data.gender }}</td>
    <td>{{ data.firstname }}</td>
    <td>{{  data.lastname }}</td>
    <td>{{  data.nationality }}</td>
    <td>{{  data.address }}</td>
    <td>{{  data.email }}</td>
    <td>{{  data.mobile_Number }}</td>
    <td>{{  data.property }}</td>
    <td>{{  data.date_from }}</td>
    <td>{{  data.date_until }}</td>
    <td>{{  data.creation_date }}</td>
    <td>{{  data.booking_status }}</td>
    <td>{{  data.cost }}</td>
    <td>{{  data.notes }}</td> 
    </tr>
  </tbody>
</table> -->